/* Base */

:root {
  /* DocSearch */
  --docsearch-primary-color: $dt('color.primary.500') !important;
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #e7b43b;
  --bg-secondary: #d4a639;
  --border-color: #bb6f13;
}

.dark:root {
  color-scheme: dark;
}

body {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: $dt('docus.body.backgroundColor'); */
  /* color: $dt('docus.body.color'); */
  font-family: $dt('docus.body.fontFamily');
  min-width: $dt('size.xs');
}

.docus-scrollbars {
  & ::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
    background: transparent;
  }

  & ::-webkit-scrollbar-track {
    background: $dt('color.gray.100');
  }

  & ::-webkit-scrollbar-thumb {
    border-radius: 0.6em;
    background: $dt('color.gray.300');
    &:hover {
      background: $dt('color.gray.400');
    }
    &:active {
      background: $dt('color.gray.500');
    }
  }

  &.dark {
    & ::-webkit-scrollbar-track {
      background: $dt('color.gray.800');
    }

    & ::-webkit-scrollbar-thumb {
      background: $dt('color.gray.700');
      &:hover {
        background: $dt('color.gray.600');
      }
      &:active {
        background: $dt('color.gray.500');
      }
    }
  }
}